.wishlist-container {
  width: 60%;
  margin: auto;
  font-family: Arial, sans-serif;
  margin-bottom: 220px;
  margin-top: 40px;
}

.wishlist-container h2 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #333;
}

.wishlist-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.wishlist-item-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
}

.wishlist-item-details {
  flex-grow: 1;
  margin-left: 20px;
}

.wishlist-item-name {
  font-size: 18px;
  color: #0073e6;
  font-weight: bold;
  margin-bottom: 8px;
}

.wishlist-item-price {
  font-size: 17px;
  color: #000;
  font-weight: bold;
}

.wishlist-item-actions {
  display: flex;
  gap: 25px;
}

.wishlist-action-button {
  background: none !important;
  border: none;
  cursor: pointer;
  font-size: 22px;
  color: #555;
  transition: color 0.3s;
  padding: 0;
  outline: none;
}

.wishlist-action-button:hover {
  color: #d10000;
  background: none !important;
  box-shadow: none;
}

.wishlist-unavailable-text {
  color: red;
  font-size: 1.1rem;
  margin-top: 2px;
  margin-left: 10px;
}

/* View More Button */
.wishlist-view-more-container {
  text-align: center;
  margin-top: 25px;
}

.wishlist-view-more-button {
  background-color: #0073e6;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wishlist-view-more-button:hover {
  background-color: #005bb5;
}

/* Responsive Design */
@media (max-width: 768px) {
  .wishlist-container {
    width: 90%;
  }

  .wishlist-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
  }

  .wishlist-item-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .wishlist-item-details {
    margin-left: 0;
    margin-top: 10px;
  }

  .wishlist-item-actions {
    margin-top: 10px;
    align-self: flex-end;
  }
}
